.form-row {
  display: flex;
}

.form-col {
  display: flex;
  flex-direction: column;
}

input {
  letter-spacing: .015625em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: #333333;
  display: flex;
  align-items: center;
  outline: none;
  padding: 8px 12px;
  transition: border-color .2s;
  width: 100%;
  line-height: 24px;
}

button {
  display: block;
  padding: 0 30px;
  text-align: center;
  transition: color .2s, background-color .2s, border-color .2s, transform .2s;
  height: 42px;
  line-height: 42px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: #fff;
  stroke: #ff1940;
  background-color: #cc1433
}