.messages {
  box-sizing: border-box;
}

.msg {
  margin: 21px 0;
}

.msg-content {
  display: flex;
  align-items: center;
}

.msg-content.me {
  flex-direction: row-reverse;
}

.msg-content p {
  background: #FFF;
  border-radius: 21px 21px 21px 0;
  display: block;
  padding: 21px;
  margin: 7px;
  box-shadow: 3px 3px 7px #CCC;
  word-wrap: break-word;
  max-width: 500px;
}

.msg-content.me p {
  border-radius: 21px 21px 0px 21px;
}

.msg-details {
  color: #7e7c7c;
  font-size: 0.7em;
  padding: 7px 0 0 14px;
}

.msg-details.me {
  text-align: right;
  color: #7e7c7c;
}

.msg-details span {
  font-weight: bolder;
  color: #333;
}