.reactions {
  display: inline-block;
}

.reaction {
  padding: 0 7px;
  outline: none;
  border: none;
  color: #ff1940;
  background-color: transparent;
  display: inline-block;
  transition: all 200ms ease-in;
  transform: scale(1);
  line-height: initial;
}

.reaction:hover {
  transform: scale(1.5);
}

.reaction span {
  display: block;
  padding: 4px;
  font-size: 0.5em;
}