.rooms {
  width: 300px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rooms > div {
  height: calc(100% - 200px);
}

.rooms h4 {
  padding: 21px;
}

.user-name {
  font-size: 2em;
  font-family: 'Comfortaa', cursive;
  padding: 21px 21px 7px 21px;
}

.user-time {
  font-size: .8em;
  padding: 0 21px;
}

.room-list {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  height: 100%;
}