.room-card {
  border-bottom: 1px solid #DDD;
}

.room-card:first-child {
  border-top: 1px solid #DDD;
}

.room-card a {
  display: block;
  padding: 21px;
  text-decoration: none;
  word-wrap: break-word;
}

.room-card a,
.room-card a:visited,
.room-card a:active {
  color: #212121;
}

.room-card.selected {
  background-color: #cc1433;
}

.room-card .selected,
.room-card .selected:visited,
.room-card .selected:active {
  color: #FFF;
}