.room-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-title {
  width: 100%;
  background: #FFF;
  text-align: center;
  box-shadow: 2px 2px 2px #CCC;
}

.room-users {
  list-style: none;
  padding: 0;
  margin: 14px;
}

.room-users li {
  display: inline-block;
}

.room-users li::after {
  margin: 0 7px;
  content: "-";
}

.room-users li:last-child::after {
  content: "";
}

.me {
  color: #cc1433;
}

.messages {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 21px;
}

.room-select {
  font-size: 36px;
  font-family: 'Comfortaa', cursive;
}

.room-input {
  background-color: #FFF;
  padding: 21px;
  box-shadow: 0px -2px 2px #CCC;
}
