.dashChat {
  background: #eeeeee;
  height: 100%;
  display: flex;
}

.chat {
  display: flex;
  width: 100%;
}

.login {
  flex-direction: column;
}

.login button {
  margin: 14px 0;
}

.center-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}