@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato');

body, html {
  height: 100%;
  width: 100%;
}

body {
  color: #212121;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', cursive;
}
